@import "tailwindcss";
@plugin 'daisyui' {
	themes:
		light --default,
		dark,
		forest --prefersdark,
		coffee,
		night,
		sunset,
		abyss,
		synthwave;
}
@plugin 'daisyui/theme' {
	name: "dark";
	--depth: 0;
}
